# string is a sequence of characters

In [1]:
str = 'Tim said, "It\'s a beautiful day!"'

In [2]:
print(str)

Tim said, "It's a beautiful day!"

In [3]:
name = '''Hello Programmers,
Welcome to the world of Python programming.
Have a nice day!'''
print(name)

Hello Programmers,
Welcome to the world of Python programming.
Have a nice day!

In [4]:
print(len(name))
print(name[0:5]) # you can also use only number to print from start or to end like print(name[:5]) or print(name[5:])
print(name.lower())
print(name.upper())
print(name.strip()) # removes any extra spaces from start and end
print(name.replace("Python", "Java"))
print(name.split(",")) # splits the string at the specified separator and returns a list
print("Python" in name) # returns True if "Python" is found in the string
print("Java" in name) # returns True if "Java" is not found in the string

79
Hello
hello programmers,
welcome to the world of python programming.
have a nice day!
HELLO PROGRAMMERS,
WELCOME TO THE WORLD OF PYTHON PROGRAMMING.
HAVE A NICE DAY!
Hello Programmers,
Welcome to the world of Python programming.
Have a nice day!
Hello Programmers,
Welcome to the world of Java programming.
Have a nice day!
['Hello Programmers', '\nWelcome to the world of Python programming.\nHave a nice day!']
True
False

In [5]:
for i in name:
    print(i, end="")

Hello Programmers,
Welcome to the world of Python programming.
Have a nice day!

In [6]:
print(name + str)

stg = "\n{} \n{}".format(name, str)
print(stg)

Hello Programmers,
Welcome to the world of Python programming.
Have a nice day!Tim said, "It's a beautiful day!"

Hello Programmers,
Welcome to the world of Python programming.
Have a nice day!
Tim said, "It's a beautiful day!"

# Dictionaries

In [7]:
d1 = {
    1 : "Hello",
    2: "Programmers",
    3 : "Welcome to Python",
}

d2 = {
    'Name' : "Alice",
    'age': 30,
    'city': "New York"
}
print(d1)
print(d2)

{1: 'Hello', 2: 'Programmers', 3: 'Welcome to Python'}
{'Name': 'Alice', 'age': 30, 'city': 'New York'}

In [8]:
d3 = dict({
    "My name is":"Bob",
    "I am":"a developer",
})
print(d3)

{'My name is': 'Bob', 'I am': 'a developer'}

In [9]:
d4 = dict([(1, "One"), (2, "Two"), (3, "Three")])
print(d4)

d5 = dict.fromkeys(['a', 'b', 'c'], 0)
print(d5)

d6 = dict({"name":{"first":"John", "last":"Doe"}, "age":25})
print(d6)

{1: 'One', 2: 'Two', 3: 'Three'}
{'a': 0, 'b': 0, 'c': 0}
{'name': {'first': 'John', 'last': 'Doe'}, 'age': 25}

# Adding Elements

In [10]:
d = {}
d[0] = "Welcome"
print(d)
d[1]= ("to", "Python")
print(d)
d["name"]= {"first":"Jane", "last":"Doe"}
print(d)

{0: 'Welcome'}
{0: 'Welcome', 1: ('to', 'Python')}
{0: 'Welcome', 1: ('to', 'Python'), 'name': {'first': 'Jane', 'last': 'Doe'}}

# Accessing dictionary items

In [11]:
print(d)

{0: 'Welcome', 1: ('to', 'Python'), 'name': {'first': 'Jane', 'last': 'Doe'}}

In [12]:
print(d["name"])

{'first': 'Jane', 'last': 'Doe'}

In [13]:
print(d["name"]["first"])

Jane

# Delete Elements

In [14]:
print(d)

{0: 'Welcome', 1: ('to', 'Python'), 'name': {'first': 'Jane', 'last': 'Doe'}}

In [15]:
d.pop(0)

'Welcome'

In [16]:
print(d)

{1: ('to', 'Python'), 'name': {'first': 'Jane', 'last': 'Doe'}}

In [17]:
d.popitem()

('name', {'first': 'Jane', 'last': 'Doe'})

In [18]:
print(d)

{1: ('to', 'Python')}

# Using built-in functions with dictionaries

In [19]:
print(d)

{1: ('to', 'Python')}

In [20]:
d.values()

dict_values([('to', 'Python')])

In [21]:
keys = {"key1", "key2", "key3"}
value = 1
dict.fromkeys(keys, value)

{'key3': 1, 'key2': 1, 'key1': 1}

In [22]:
d.clear()
print(d)

{}

# Sets 
#It is an unorder collection of unique element

In [23]:
s = set([1, 2, 3, 4, 5])
print(s)

{1, 2, 3, 4, 5}

In [24]:
s.add("A")
print(s)

{1, 2, 3, 4, 5, 'A'}

In [25]:
fs = frozenset([1, 2, 3, 4, 5])
print(fs)

frozenset({1, 2, 3, 4, 5})

In [26]:
fs.add("A")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

print(s1 | s2) # union                        print(s1.union(s2))
print(s1 & s2) # intersection                 print(s1.intersection(s2))
print(s1 - s2) # difference                   print(s1.difference(s2))
print(s1 ^ s2) # symmetric difference         print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}