In [ ]:
# Tuples

In [1]:
emp = ()
print(type(emp))

<class 'tuple'>

In [2]:
print(emp)

()

In [11]:
citys = ('New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix')
print(citys)

('New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix')

In [6]:
city = ("Pune", "Mumbai", "Delhi")
print(type(city))
city

<class 'tuple'>

('Pune', 'Mumbai', 'Delhi')

In [8]:
list1 = [1, 2, 3, 4, 5]
tuple1 = (1,2,3,4,5)
list1.append(6)
print(list1)

[1, 2, 3, 4, 5, 6]

In [9]:
tuple1.append(6)  # This will raise an AttributeError because tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
print(citys)

('New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix')

In [14]:
citys[2]

'Chicago'

In [ ]:
# Concatenation

In [15]:
print(city)

('Pune', 'Mumbai', 'Delhi')

In [19]:
num = 1,2,3,4,5
all = city + citys + num
print(all)
print(citys + city)
print(city + num)

('Pune', 'Mumbai', 'Delhi', 'New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 1, 2, 3, 4, 5)
('New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Pune', 'Mumbai', 'Delhi')
('Pune', 'Mumbai', 'Delhi', 1, 2, 3, 4, 5)

In [ ]:
# Nesting

In [20]:
nest = (city, citys, num)
print(nest)

(('Pune', 'Mumbai', 'Delhi'), ('New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'), (1, 2, 3, 4, 5))

In [ ]:
# Repetition

In [22]:
rep = city * 3
print(rep*3)

('Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Pune', 'Mumbai', 'Delhi')

In [ ]:
# Slicing

In [23]:
num

(1, 2, 3, 4, 5)

In [26]:
print(num[1:])
print(num[::-1])

(2, 3, 4, 5)
(5, 4, 3, 2, 1)

In [ ]:
# Unpacking

In [27]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [31]:
print(num)
a,b,c,d,e = num
a, *b, c = num
print(a,b,c)
print(a,b,c,d,e)
Python = num
print(Python)

(1, 2, 3, 4, 5)
1 [2, 3, 4] 5
1 [2, 3, 4] 5 4 5
(1, 2, 3, 4, 5)

In [ ]:
# Deleting a tuple

In [34]:
tuple = (1,2,3,4,5)
print(tuple)
del tuple
print(tuple)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
del tuple  # This will raise a NameError because 'tuple' has been deleted

NameError: name 'tuple' is not defined